 body{
        margin: 0%;
        
        

  font-family: "Stack Sans Text", sans-serif;

    }
    .logo{
        color: aqua;


    }

    .header{
       
         background-color: rgb(0, 0, 0);

         
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        
    }

    .header-Links {
    display: flex;
    align-items: center;
    gap: 5px; /* مسافة بين الأزرار */
}

    .header-Links a{
        background-color: rgba(250, 235, 215, 0.278);
        align-items: center;
        margin-right: 0px;
        color: rgb(0, 0, 0);
        padding: 5px 20px;

        text-decoration: none;
        border-radius: 15px;
        
      
        
    }

    .header-margin {
         margin-left: 30;
    }

    .header-Links a:hover{
        background-color: antiquewhite;
        transition: background-color 0.5s ease;
        transition: color 0.5s ease;

        color: rgb(255, 85, 0);
        

    }
    .header-Links button{
          font-family: "Stack Sans Text", sans-serif;
         background-color: antiquewhite;
        color: rgb(255, 85, 0);
        border: none;
        padding: 5px 15px;
        border-radius: 15px;

    }

    .header-Links button:hover{
         background-color: rgb(190, 132, 56);
        color: rgb(255, 85, 0);

    }


    .profile-contaiern{
          flex: 2;
    }

    .profile-pic{
         width: 32px;
         height: 32px;
         border-radius: 50%;
         color: aliceblue;
    }












    /* From Uiverse.io by alexruix */ 
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: #522ba7;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}


.container{
    background-color: rgb(22, 22, 22);
    min-height:calc(100vh - 50px) ;
    color: white;
}

.content-container{
    margin-left: 10px;
}


.featured-content{
    height: 50vh;
    background-image: url('iamge/f-1.jpg');
    padding-left: 20px;
    margin-right: 10px;

}


.featured-title{
    margin-left: 10px;
width: 200px;
}

.featured-desc{
    margin-left: 10px;
width: 500px;
}

.featured-button{
background-color: rgb(173, 38, 38);
color: aliceblue;
padding: 10px 20px;
margin-left: 10px;

border-radius: 15px;
}

.moive-list-container{
 
padding: 20px;
}

.moive-list-title{
 margin-right: 30px;
}

.moive-list-wrapper{
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.moive-list{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
}

.moive-list-item{
    flex-shrink: 0;
    width: 270px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.moive-list-item-iamge{
    width: 270px;
    height: 200px; 
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    display: block;
}

.moive-list-item:hover .moive-list-item-iamge{
    transform: scale(1.1);
}

.moive-list-item-title{
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.moive-list-itme-desc{
    color: #999;
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.moive-list-item-button{
    margin-top: 10px;

    padding: 10px 20px;
    background-color: rgb(173, 38, 38);
    border-color: black;
    color: white;
    border: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Stack Sans Text", sans-serif;
    transition: background-color 0.3s ease;

   
    
}

.moive-list-item-button:hover{
    background-color: rgb(203, 81, 81);
}